<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Home</h1>
    <script>
        (async () => {
            const params = new URLSearchParams(window.location.search)
            const token = params.get('id')
            const data = await fetch('/api/user/get/'+token)
            const {id, name} = await data.json()

            document.body.innerHTML= `<h1> Olá, ${name}, que tem o ID: ${id}`
        })()
    </script>
</body>
</html>