<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <h2>SIGN UP</h2>
    <form action="/api/user/create" method="POST">
        <label for="name">Name:</label>
        <input name="name" id="name" type="text">
        <label for="email">Email:</label>
        <input name="email" id="email" type="text">
        <label for="pass">Password:</label>
        <input name="pass" id="pass" type="password">
        <input type="submit" value="Submit">
    </form>
</body>
</html>